<!-- Footer -->
<footer class="page-footer font-small blue pt-4">

    <!-- Footer Links -->
    <div class="container-fluid text-center text-md-left">
  
      <!-- Grid row -->
      <div class="row">
  
        <!-- Grid column -->
        <div class="col-md-6 mt-md-0 mt-3">
  
          <!-- Content -->
          <h5 class="text-uppercase">Placement Preparation</h5>
          <p>Our placement preparation website is dedicated to helping job seekers succeed in the competitive job market by providing them with expert guidance, comprehensive resources, and personalized support.</p>
  
        </div>
        <!-- Grid column -->
  
        <hr class="clearfix w-100 d-md-none pb-3">
  
        <!-- Grid column -->
        <div class="col-md-3 mb-md-0 mb-3">
  
          <!-- Links -->
          <h5 class="text-uppercase">Placement preparation</h5>
  
          <ul class="list-unstyled">
            <li>
              <a href="#!">About us</a>
            </li>
            <li>
              <a href="#!">Product</a>
            </li>
            <li>
              <a href="#!">Sign up</a>
            </li>
            <li>
              <a href="#!">Register</a>
            </li>
          </ul>
  
        </div>
        <!-- Grid column -->
  
        <!-- Grid column -->
        <div class="col-md-3 mb-md-0 mb-3">
  
          <!-- Links -->
          <h5 class="text-uppercase">Team</h5>
  
          <ul class="list-unstyled">
            <li>
              <a href="#!">Aquib Darain</a>
            </li>
            <li>
              <a href="#!">Sumaira Anjum</a>
            </li>
            <li>
              <a href="#!">Iqra Khan</a>
            </li>
            <li>
              <a href="#!">Taslim Sheikh</a>
            </li>
          </ul>
  
        </div>
        <!-- Grid column -->
  
      </div>
      <!-- Grid row -->
  
    </div>
    <!-- Footer Links -->
  
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2023 Copyright:
      <a href="/"> placementprep.com</a>
    </div>
    <!-- Copyright -->
  
  </footer>
  <!-- Footer -->