<div class="how-section1">
    <div class="row">
        <div class="col-md-6 how-img" style="
            margin:2pc 0 2pc 1pc;
            ">
            <img src="https://i.ibb.co/RhxKqxx/nick-morrison-FHnnjk1-Yj7-Y-unsplash.jpg" style="
                height:25pc;
                width:35pc;
            " alt=""/>
        </div>
        <div class="col-md-6" >
            <h4>Who we are</h4>
                        
        <p class="text-muted">Placement Preparation is a website dedicated to assisting engineering students in their quest to succeed in their college placements. We understand the importance of securing a job during the placement season and aim to provide students with the necessary tools and resources to excel in their interviews. Our website offers a range of services, including practice placement papers, interview tips and tricks, resume building guidance, and much more. Our goal is to empower students with the skills and knowledge required to showcase their abilities to potential employers and land their dream jobs.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            
            <h4>About Team</h4>
                        <h4 class="subheading"></h4>
                        <p class="text-muted">Placement Preparation is a team of four passionate engineering students who came together to create this platform as part of their college project. Their vision was to create a one-stop-shop for engineering students to prepare for their college placements and land their dream job.

                            The team worked tirelessly to bring their idea to life, investing countless hours into developing and refining the platform.</p>
        </div>
        <div class="col-md-6 how-img">
            <img src="https://i.ibb.co/RhxKqxx/nick-morrison-FHnnjk1-Yj7-Y-unsplash.jpg" style="
            height:25pc;
            width:35pc;
        " alt=""/>
        </div>
    </div>
</div>