<!-- Background image -->
<div class="bg-image d-flex justify-content-center align-items-center" style="
    background-image: url('https://i.ibb.co/0YPXmt1/van-tay-media-TFFn3-BYLc5s-unsplash.jpg');
    height: 80vh;
    background-repeat: no-repeat;
    background-size: cover;
    ">
    <div class="container"
    style="
        text-align: center ;
    ">
    <h1 class="text-white">Get the edge you need to succeed in your dream job.</h1>
    <p class="text-white" style="
    display: flex;
    flex-direction: row;
    ">Join now and gain access to the tools and knowledge you need to get hired and start your career off on the right foot. Don't let the stress of college placements hold you back - with Placement Preparation, you can thrive career.</p>
    <button type="button" class="btn btn-primary">Register now</button>
    </div>
    
</div>
<!-- Background image -->