<div class="title-name">
 <h3> What our platform provides you</h3> 
</div>
<div class="product-design"
style="
    margin: 5pc;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
">
<div class="card text-white bg-primary mb-3" style="max-width: 16rem;">

    <div class="card-header">#1</div>
    <div class="card-body">
      <h5 class="card-title">Comprehensive</h5>
      <p class="card-text">Placement Preparation offers a wide range of resources to help engineering students prepare for their college placements.</p>
    </div>
  </div>
  <div class="card text-white bg-secondary mb-3" style="max-width: 16rem;">
    <div class="card-header">#2</div>
    <div class="card-body">
      <h5 class="card-title">User-friendly</h5>
      <p class="card-text">Our website is designed to be user-friendly and easy to navigate.</p>
    </div>
  </div>
  <div class="card text-white bg-success mb-3" style="max-width: 16rem;">
    <div class="card-header">#3</div>
    <div class="card-body">
      <h5 class="card-title">Customizable</h5>
      <p class="card-text">We understand that every student has unique needs when it comes to placement preparation.</p>
    </div>
  </div>
  <div class="card text-white bg-danger mb-3" style="max-width: 16rem;">
    <div class="card-header">#4</div>
    <div class="card-body">
      <h5 class="card-title">Reliable</h5>
      <p class="card-text">Our website is regularly updated with the latest information and resources, ensuring that our users always have access to the most up-to-date and reliable information.</p>
    </div>
  </div>
 

  </div>